#allSection{
  display: flex;
  justify-content: space-between;
}

#gatorSection{
  align-items: center;
  padding: 4px;
}

.fieldAndButton{
  text-align: center;
  width: 150px;
  height: 60px;
  background-color: rgb(39, 179, 39);
  padding: 4px;
}

.numberImput{
  width: 130px;
}

#gatorHouse{
  text-align: center;
  width: 150px;
  background-color: rgb(111, 212, 252);
  padding: 4px;
}

#feedSection{
  align-items: center;
  padding: 4px;
}

#feedHouse{
  text-align: center;
  width: 150px;
  background-color: rgb(255, 188, 88);
  padding: 4px;
}

#RyoSection{
  align-items: center;
  padding: 4px;
}

#degiButtonArea{
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: rgb(39, 179, 39);
  padding: 4px;
}

#RyoButton{
  margin-top: 8px;
}

#video{
  width:150px;
  visibility: hidden;
}